@model MvcCoreTutorial.Models.Domain.Person

<div class="mt-2" style="width:50%">
    <style>
        body {
            background: linear-gradient(to right, #2193b0, #6dd5ed);
            min-height: 100vh;
        }
    </style>
<form asp-action="AddPerson">
    <h2>Add Employee</h2>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control" >
       <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Email"></span>
    </div>

        <div class="mb-3">
            <label asp-for="Age" class="form-label">Age</label>
            <input asp-for="Age" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Age"></span>
        </div>

        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
            <input asp-for="PhoneNumber" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="PhoneNumber"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Address" class="form-label">Address</label>
            <input asp-for="Address" type="text" class="form-control">
            <span class="text-danger" asp-validation-for="Address"></span>
        </div>
    @if(TempData["msg"]!=null)
    {
        <div class="mb-3">
            @TempData["msg"]
        </div>
    }
   
    <button type="submit" class="btn btn-secondary">Submit</button>
    <a href="/Person/DisplayPersons" class="btn btn-secondary">All Employees</a>
        <a href="/Person/index" class="btn btn-secondary">Back</a>
</form>
</div>